{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        margin-left:80px;
        margin-top:100px;
    }
</style>

<!-- Sidebar -->
        <div class="col-md-3">
            {% include 'sidebar.html' %}
        </div>

<div class="container">
    <h2>Today's Activity Overview</h2>

    <!-- Date Picker -->
    <form method="GET" class="mb-4">
        <label for="date-picker">Select Date:</label>
        <input type="date" id="date-picker" name="date" value="{{ selected_date|date:'Y-m-d' }}" class="form-control" style="width: 200px; display: inline-block;">
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Login Time</th>
                <th>Logout Time</th>
                <th>Total Break Time</th>
                <th>Total Work Time</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.user.username }}</td>
                <td>{{ activity.login_time }}</td>
                <!-- Only display logout time if the user has logged out -->
                <td>
                    {% if activity.logout_time %}
                        {{ activity.logout_time }}
                    {% else %}
                         ongoing session
                    {% endif %}
                </td>
                <td>{{ activity.total_break_time }}</td>
                <td>{{ activity.total_work_time_str }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
